{
  "printWidth": 130,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrder": [
    "^node:(.*)$",
    "^(?!\\.)(?!@/).*$",
    "^@/api(/.*)?$",
    "^@/components(/.*)?$",
    "^@/constants(/.*)?$",
    "^@/hooks(/.*)?$",
    "^@/interface(/.*)?$",
    "^@/pages(/.*)?$",
    "^@/redux(/.*)?$",
    "^@/routes(/.*)?$",
    "^@/utils(/.*)?$",
    "^@/sentry$",
    "^(\\.\\.?/)+api(/.*)?$",
    "^(\\.\\.?/)+components(/.*)?$",
    "^(\\.\\.?/)+constants(/.*)?$",
    "^(\\.\\.?/)+hooks(/.*)?$",
    "^(\\.\\.?/)+interface(/.*)?$",
    "^(\\.\\.?/)+pages(/.*)?$",
    "^(\\.\\.?/)+redux(/.*)?$",
    "^(\\.\\.?/)+routes(/.*)?$",
    "^(\\.\\.?/)+utils(/.*)?$",
    "^@/(?!.*\\.(css|scss)$).*$",
    "^\\.\\.?/(?!.*\\.(css|scss)$).*$",
    ".*\\.(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
