node_modules
**/node_modules
npm-debug.log*
.env
**/.env
dist
coverage
.angular
.prisma
**/*.prisma
prompt*
.vercel
.pnpm-store
ERD.svg
.qwen
.DS_Store
.agents
.claude
pnpm-lock.yaml
pnpm-workspace.yaml
